.footer {
  background-color: var(--color-dark-800);
  color: var(--color-light-100);
  font-size: 0.875rem;
  margin-top: 2rem;
}

.footer__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 0;
  opacity: 0.5;
}

.footer__logo {
  height: 2rem;
  margin-bottom: 2rem;
}

.footer__link {
  text-decoration: underline;
  margin-top: 0.5rem;
}

@media (min-width: 768px) {
  .footer {
    margin-top: 3rem;
  }
}

@media (min-width: 1024px) {
  .footer {
    margin-top: 4rem;
  }
}
